<!DOCTYPE html>
<html>
    <head>
        <script src="https://apis.google.com/js/platform.js" async defer></script> 
        <meta name="google-signin-client_id" content="357027840207-p8tmt9tpe4t9icdh37ftuo0daijl4u9u.apps.googleusercontent.com">
        <script>
            function start(){
                gapi.load('auth2', function(){
                    //init google auth object
                    auth2 = gapi.auth2.init({
                        scope: 'openid email',
                        ux_mode: redirect,
                        redirect_uri: "http://localhost:8000/gconnect",
                        processData: false,
                        fetch_basic_profile: true,
                        access_type: "offline",
                        cookie_policy: "single_host_origin",
                    });
                });
                
            }
        </script>
    </head>
    <body>
        <div class="g-signin2" data-onsuccess="onSignIn">
            <!--code here for when sign in works
        -->
        <script>
            function onSignIn(googleUser){
                var profile = googleUser.getBasicProfile();
                var id_token = googleUser.getAuthResponse().id_token;

                var req = new XMLHttpRequest();
                req.open('POST', 'http://localhost:8000/gconnect?state={{STATE}}');
                req.setRequestHeader('Content-Type', 'application/octet-stream; charset-utf-8');
                req.onload = function(){
                    console.log('Signed in as: ' + req.responseText);
                };
                req.send('idtoken=' + id_token);  
            }


        </script>
        </div>
        <script>
        </script>
    </br>
        <a href="#" onclick="signOut();">Sign Out</a>
        <!--signing out-->
        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function(){
                    window.location.href='http://localhost:8000/categories/';
                });
            }
        </script>
    </body>
</html>